{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Today's memory{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container mt-3 p-2">
  <div class="card">
    <div class="card-header">
      <h3><i class="bi bi-calendar-event"></i> {{ title }}</h3>
    </div>
    <img src="/memory-thumb/{{ memory.filename }}" class="card-img-top" alt="...">
    <div class="card-body">
      {% if memory.author != "Unknown" %}
      <h3>{{ memory.author }}</h3>
      {% endif %}
      <p class="card-text">{{ memory.captation }}</p>


      <a download="{{ memory.filename }}" href="/memory-fullres/{{ memory.filename }}" class="btn btn-primary ml-1"><i class="bi bi-download"></i> Download</a>
      <button class="btn btn-primary" id="printButton"><i class="bi bi-printer-fill"></i> Print</button>
      <br/>
      <br/>
      <div class="d-flex justify-content-between">
        
        <a href="/memory/{{ previous_day_memory.id }}" class="btn btn-outline-primary" {% if not previous_day_memory %}style="visibility: hidden;"{% endif %}>
          <i class="bi bi-caret-left-fill"></i> Prev.
        </a>
        <a href="/memory/{{ next_day_memory.id }}" class="btn btn-outline-primary" {% if not next_day_memory %}style="visibility: hidden;"{% endif %}>
          Next <i class="bi bi-caret-right-fill"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column mt-4">
    <button class="btn btn-primary mb-2"><i class="bi bi-calendar-week"></i> Select a date</button>
    <a href="#" class="btn btn-primary"><i class="bi bi-grid-fill"></i> Browse all memories</a>
  </div>
</div>

{% endblock %}