<!doctype html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Memorybox</title>
    
    <!--FAVICON-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='icons/bootstrap/font/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark px-2">
      <a class="navbar-brand" href="{{ url_for('main.index') }}" style="font-weight: bold; font-size: x-large;">
            <img src="{{ url_for('static', filename='img/memorybox.svg') }}" width="48" height="48" class="d-inline-block align-center" alt="">
            Memorybox
      </a>
      <ul class="navbar-nav d-flex">
        <li class="nav-item"><a href="{{ url_for('main.settings') }}" class="btn btn-outline-light"><i class="bi bi-sliders2"></i> Settings</a></li>
      </ul>
    </nav>
    <section class="content">
      <!-- <header>
        {% block header %}{% endblock %}
      </header> -->
      {% block content %}{% endblock %}
    </section>

    <!--<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>-->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"></script>
    <script src="{{ url_for('static', filename='js/print.js') }}"></script>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register("/static/js/sw.js").then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
    </script>
  </body>
</html>